header {
  display: flex;
  height: 80px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  .headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width;
    width: $max-width;
    padding: 0 60px;
    margin: 0 auto;
    .logoWrap {
      a {
        text-decoration: none;
        color: grey;
        @include breakpoint(desktop-below) {
          font-size: 16px;
        }
        font-size: 24px;
      }
    }
    .menu {
      display: flex;
      font-size: 18px;
      color: $global-blue2;
      .spacingRight {
        margin-right: 20px;
      }
    }
  }
}
