{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "prettier", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "semi": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "tabWidth": 2,
        "singleQuote": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "semi": true,
        "useTabs": false,
        "parser": "babylon",
        "jsxBracketSameLine": false
      }
    ]
  }
}
