$global-white: #ffffff;
$global-light-grey: #A5ADC8;
$global-light-grey1: #B9C2D1;
$global-black: #000000;
$global-blue: #1f40e6;
$global-blue2: #505dff;
$global-dark-blue: #1E2948;
$global-light-blue: #2F3A58;
$global-ripple: #1f40e61f;
$global-black-1: #051c2c;
$max-width: 1440px;
